

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Cinderella's Closet</h1>
        <p>Find shoes that fit, always.</p>
      
        <a href="<%= signup_path %>" class="btn btn-success btn-lg active" role="button">New user? Register Here &raquo;</a>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>1. Post your perfect fit</h4>
          <p>Post any shoes you own with 1 click.</p>
        </div>
        <div class="col-md-4">
          <h4>2. A perfect match</h4>
          <p>Cinderella matches you to anyone who also owns the same shoes in the same size. Your feet match each other.  </p>
       </div>
        <div class="col-md-4">
          <h4>3. Discover perfectly fitting shoes</h4>
          <p>Cinderella shows you all the shoes that fit your feet exactly on your matches.</p>
          
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2-Jealous-StepSisters 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>