
.col-shoe {
	border: 1px;

	color: dark-gray;
	max-width: 300px;
	min-width: 300px;
	max-height: 300px;
	min-height: 300px;

}


.add-shoes {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: right;
	max-height: 50px;

}
.search {
	margin-bottom: 20px;
}

.title {

}

.list-header {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	background-image: url(http://nazarishoes.files.wordpress.com/2013/08/you-you-shoes1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 22%;
	background-color: white;
	background-position: 580px, -200px;
	margin-top: 0px;

}

.product-image{
	text-align: center;
}

.grid {

}



h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 350;
}